.statistics__mini-games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statistics__mini-games_component {
  width: 100%;

  .card-body.hide {
    display: none;
  }
}

.statistics__mini-games_entity {
  font-size: 1.8rem;
  margin-bottom: 1rem;

  & > span {
    margin-right: 1rem;
  }
}

.statistics__mini-games_back-button {
  margin-bottom: 1rem;
}