@import '../../../../styles/variables';

:root {
  --blue-color: #048bc2;
  --white-color: #ffffff;
  --gray-color: grey;
  --lightyellow-color: #fbe898;
  --lightgreen-color: #ccf4d3;
  --red-color: red;
}

.train {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__error {
    width: 400px;
    height: 30px;
    margin-bottom: 10px;

    & span {
      display: block;

      text-align: center;
      color: var(--red-color);
    }
  }

  &__img {
    display: block;
    margin-bottom: 20px;

    width: 400px;
    max-width: 400px;
    max-height: 270px;
    min-height: 270px;
  }

  &-word {
    display: flex;
    width: 400px;
    height: 60px;
    margin-bottom: 20px;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 20px;

    &__train {
      height: 30px;
      width: 100%;
    }

    &__speak {
      height: 30px;
      width: 100%;

      &-result {
        position: relative;

        display: block;
        height: 30px;
        width: 100%;
        padding-bottom: 5px;

        font-size: 20px;
        text-align: center;
        border-bottom: 2px solid grey;

        &::before {
          position: absolute;
          left: 0;
          top: -10px;
          content: '';

          width: 40px;
          height: 40px;

          background-image: url('../../assets/icons/microphone.png');
          background-size: cover;
        }
      }
    }
  }

  &-buttons {
    margin-bottom: 30px;
  }

  &-buttons__restart,
  &-buttons__speak,
  &-buttons__results {
    width: 200px;
    margin: 30px 10px;

    font-size: 18px;
    background-color: var(--blue-color);
    color: var(--white-color);

    &:hover,
    &:hover,
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    &:active,
    &:active,
    &:active {
      box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.4),
        inset 2px 2px 3px rgba(0, 0, 0, 0.4);
    }
  }
}

.word-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1000px;
  height: 225px;

  &__card {
    position: relative;
    display: flex;
    min-width: 180px;
    margin-bottom: 20px;

    flex-direction: column;
    justify-content: space-around;

    border: 2px solid var(--gray-color);
    border-radius: 10px;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 10px;

      display: block;
      width: 20px;
      height: 20px;

      transform: translateY(-50%);

      background-image: url('../../assets/icons/sound.png');
      background-repeat: no-repeat;
      background-color: var(--white-color);
      background-size: cover;
    }

    &:hover {
      box-shadow: 1px 1px 3px 3px var(--gray-color);
    }

    &--active {
      background-color: var(--lightyellow-color);

      &:before {
        background-color: var(--lightyellow-color);
      }
    }

    &--guessed {
      background-color: var(--lightgreen-color);

      &:before {
        background-color: var(--lightgreen-color);
      }
    }

    p {
      margin: 10px;

      font-size: 20px;
      text-align: center;
    }
  }
  &__transcription {
    color: var(--gray-color);
  }
}
