@import '../../styles/variables';
@import '../../styles/body';

.game__title {
  grid-area: title;
  justify-self: center;
  color: $success;
  font-size: 42px;
  font-weight: 500;
}

.loader {
  background-color: $gray-400;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-sprint {
  min-width: 500px !important;
  max-width: 800px !important;
}

.word-image {
  height: 260px !important;
}

.game {
  display: grid;
  grid-template-areas: 
    ". title ."
    ". main countdown"
    ". footer .";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 50px auto 64px;
}

.game__stars {
  grid-area: stars;
  justify-self: center;
  align-self: center;
  margin-bottom: 1.2rem;
}

.game__main {
  grid-area: main;
  font-size: 20px;
}

.game__countdown {
  grid-area: countdown;
}

.game__footer {
  grid-area: footer;
}