@import '../../styles/variables';

.known-words,
.unknown-words {
  display: flex;
  flex-direction: column;
}

.unknown-words {
  border-top: 1px dotted $primary;
}

.word-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .play-word-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover {
      filter: invert(58%) sepia(73%) saturate(7356%) hue-rotate(199deg) brightness(100%) contrast(103%);
    }
  }

  .word {
    color: $primary;
    margin-left: 10px;
  }

  .translation {
    color: $secondary;
    margin-left: 10px;
  }
}
