@import '../../../../styles/variables';

.train-answers {
  position: absolute;
  top: 65px;
  right: 40px;
  content: '';

  display: flex;
  justify-content: flex-end;

  width: 405px;

  &__img {
    width: 35px;
    height: 35px;
  }
}
