@import '../../styles/variables';

.none {
  display: none;
}

.statistic {
    padding: 10px;
  
    &__title {
      font-size: 64px;
      font-weight: $font-weight-base;
      text-align: center;
      color: $purple;
    }

    &__text {
        font-size: 16px;
      }

    &__button {
        display: block;
        position: relative;
        text-align: center;
        margin: 15px auto;
    }
}