@import '../../styles/variables';

.settings {
  left: 0;
  transition: left 0.5s ease-in-out;
  position: fixed !important;
  z-index: 999;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    position: relative;
  }

  .card-body.hide {
    visibility: hidden;
  }
}

.header_gear-logo {
  background-image: url('/icons/settings.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;

  &:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 2s ease-in-out;
  }

  &:focus {
    outline-width: 0;
  }
}

.settings_to-learn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 1rem;

  div {
    margin-right: 0.4rem;
    word-wrap: normal;
  }
}

.to-learn_set-form {
  width: 35%;
}

.custom-switch {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.custom-control.custom-checkbox {
  font-size: 1.2rem;
  margin: 1rem 0;
}

legend {
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem !important;
}

small {
  font-size: 1rem !important;
}